body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
}

.grid-container {
    margin: 0 auto;
    margin-top: 2rem;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border: 1px solid black;
    cursor: pointer;
}
 /* remove top border from first 3 */
.square:nth-child(-n+3) {
  border-top: none;
}

/* remove bottom border from last 3 */
.square:nth-last-child(-n+3) {
  border-bottom: none;
}

/* remove left border from squares on left */
.square:nth-of-type(3n+1) {
    border-left: none;
}

/* remove right border from squares on right */
.square:nth-of-type(3n+3) {
    border-right: none;
}


.input-container {
    border-top: 1px solid black;
    margin: 0 auto;
    width: 400px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
}

input {
    border-radius: 6px;
    border: none;
    outline: 1px solid rgb(218, 218, 218);
    background-color: rgb(236, 236, 236);
    outline-offset: -2px;
    height: 1.8rem;
    max-width: 200px;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

input:focus {
    outline: 2px solid rgb(218, 218, 218);
}