.grid-container {
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    height: 400px;
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border: 1px solid black;
}
 /* remove top border from first 3 */
.square:nth-child(-n+3) {
  border-top: none;
}

/* remove bottom border from last 3 */
.square:nth-last-child(-n+3) {
  border-bottom: none;
}


.square:nth-of-type(3n+1) {
    border-left: none;
}

.square:nth-of-type(3n+3) {
    border-right: none;
}